body {
  background-color: rgb(142, 167, 207);
}

#sign-up-form {
  width: 700px;
  margin: auto;
}
#nameSection {
  display: flex;
}
#mail-mobile-section {
  display: flex;
}
.col-md-6 {
  margin-right: 12px;
  margin-top: 15px;
}
#gender {
  text-align: center;
  margin-top: 10px;
}
#optionss {
  text-align: center;
  margin-top: -12px;
  margin-bottom: 10px;
}
#countryyy {
  margin: auto;
}
.countryyy-select {
  margin-top: -10px;
  margin-bottom: 18px;
}
